body{
  background-color: #28FFBF;
}

h1{
  margin: 30px;
  font-size: 8rem;
  font-family: 'Lobster', cursive;
  color: #393E46;
}
p{
  font-size: 4rem;
  color: #1687A7;
  font-family: 'Indie Flower', cursive;
}

.container{
  text-align: center;

}

.dicee{
  text-align: center;
  display: inline-block;

}

img {
  width: 80%;
}

footer{
  margin-top: 5%;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
